`

APP_SECRET =
JWT_SECRET =
NODE_ENV =
PORT=
DB_CONNECTION_STRING =
BASE_URL=
CLIENT_URL=

// gmail
fromAdminMail=
GMAIL_USER=
GMAIL_PASS=
userSubject=



// file uploads
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=

CLOUDINARY_API_SECRET= 

`;
